# dependencies
node_modules

# builds
build
dist
.rpt2_cache
secrets
ssl

api/logs

# misc
.DS_Store
.env
.env.local
.env.prod
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Haas-specific
mindmaps
**/mindmaps/*
**/.idea
temp

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.prod.env
.dev.env
.env.development.local
.env.test.local
.env.production.local
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

types.d.ts

.now

**/.env.prod
api/.env.prod

# VSCode related
.vscode
launch.json
